language: node_js
node_js:
  - node
  - 6
  - 5
  - 4
before_install:
  - export DISPLAY=:99.0
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
install:
  - npm install --no-progress
script:
  - npm test
notifications:
  email: false
